/* Header */
.navBar ul li::after {
  content: "";
  background: orange;
  height: 2px;
  width: 0%;
  display: block;
  transition: 0.5s;
  margin: auto;
}

.navBar ul li:hover::after {
  width: 100%;
}

/* Courses */
.courseCol:hover {
  box-shadow: 2px 2px 10px 0 black;
}

/* Contact */
button:hover {
  background-color: green;
}
